[submodule "extlibs/embree"]
	path = extlibs/embree
	url = https://github.com/embree/embree.git
[submodule "extlibs/eigen"]
	path = extlibs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extlibs/glfw"]
	path = extlibs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extlibs/imgui"]
	path = extlibs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extlibs/stb"]
	path = extlibs/stb
	url = https://github.com/nothings/stb.git
[submodule "extlibs/tinyobjloader"]
	path = extlibs/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
